<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
            <div class="form-group">
                <label for="nameSurname" class="form-label">Ad Soyad</label>
                <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname"
                    placeholder="Ad Soyad" [ngClass]="{ 'is-invalid': submitted &&
                    component.nameSurname.errors }" />
                <small class="form-text text-muted invalid-feedback"
                    *ngIf="submitted && component.nameSurname.errors?.required">Ad
                    soyad boş geçilemez!</small>
                <small class="form-text text-muted invalid-feedback" *ngIf="
                    submitted &&
                    (component.nameSurname.errors?.maxlength ||
                    component.nameSurname.errors?.minlength)
                    ">Lütfen ad soyadı 3 ile 50 karakter arasında yazınız.</small>
            </div>
            <div class="form-group">
                <label for="username" class="form-label">Kullanıcı Adı</label>
                <input type="text" formControlName="username" class="form-control" id="username"
                    placeholder="Kullanıcı Adı" [ngClass]="{
                    'is-invalid': submitted && component.username.errors
                    }" />
                <small class="form-text text-muted invalid-feedback" *ngIf="submitted &&
                    component.username.errors?.required">Kullanıcı
                    adı boş geçilemez</small>
            </div>
            <div class="form-group">
                <label for="email" class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
                    [ngClass]="{ 'is-invalid': submitted &&
                    component.email.errors }" />
                <small class="form-text text-muted invalid-feedback"
                    *ngIf="submitted && component.email.errors?.required">Email
                    boş geçilemez</small>
                <small class="form-text text-muted invalid-feedback"
                    *ngIf="submitted && component.email.errors?.email">Lütfen
                    email formatında giriniz</small>
            </div>
            <div class="form-group">
                <label for="password" class="form-label">Şifre</label>
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Şifre"
                    [ngClass]="{ 'is-invalid': submitted &&
                    component.password.errors }" />
            </div>
            <div class="form-group">
                <label for="password2" class="form-label">Şifre Tekrar</label>
                <input type="password" formControlName="passwordConfirm" class="form-control" id="password2"
                    placeholder="Şifre Tekrar" [ngClass]="{
                    'is-invalid': submitted && component.passwordConfirm.errors
                    }" />
                <small *ngIf="submitted && frm.hasError('notSame')">Şifreler eşleşmiyor!</small>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>